.add {
    width: 3rem;
    height: 3rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1.5rem;
}

.addBtn p, a{
    margin-top: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: #333;
    text-decoration: none;
}

.add:hover {
    transform: scale(1.3);
    transition: transform 1s ease;
}